@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px black rgba (0, 0, 0, 0, 6);
}

@mixin button-style {
  opacity: 1;
  background: $button-gradient;
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px black rgba(0, 0, 0, 0.6);
}
