/*Identité graphique*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/*Gradient répétitif*/

$button-gradient : linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);


/*couleurs répétitive*/
$color-grey: #f2f2f2;
$color-new: #008766;
$color-icons: #7e7e7e;
$color-back-footer: #333232;
$color-police-footer: hsl(0, 0%, 80%);

/*polices*/

$text-font: 'Roboto', sans-serif;
