.fa-heart {
  width: 35px;
  height: 35px;
  position: relative;
  &.icon--empty {
    font-size: 25px;
    position: absolute;
    margin: 20px 0 0 35px;
    padding: 2px 0 0 0;
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }
  &.icon--full {
    font-size: 25px;
    position: absolute;
    display: block;
    background-image: $button-gradient;
    background-clip: text;
    color: transparent;
    opacity: 0;
    margin: 20px 0 0 35px;
    padding: 2px 0 0 0;
    transition: all 0.5s ease-in-out;
    transform: scale(0);
  }
  &:hover,
  &:active {
    cursor: pointer;
  }
}

.menu--heart:hover, .menu--heart:active .restaurants_card--heart:hover, .restaurants_card--heart:active { 
    .icon--full {
        transform: scale(1.05);
        opacity: 1;
    }
    .icon--empty {
        opacity: 0;
    }
}

// .like {
//   position: relative;
//   margin-right: 22px;
//   margin-top: 4px;

//   i {
//     color: #9d9d9d;
//     font-size: 24px;
//     left: 50%;
//   }
//   .hover-icon {
//     left: 0;
//     opacity: 0;
//     position: absolute;
//     &:hover {
//       @include lineargarden;
//       -webkit-text-fill-color: transparent;
//       -webkit-background-clip: text;

//       opacity: 1;
//       z-index: 999;
//       @extend %likeanimated;
//     }
//   }
//   &:hover {
//     cursor: pointer;
//     overflow: hidden;
//     opacity: 1;
//     @extend %likeanimated;
//   }
//   .default-icon:hover {
//     opacity: 0;
//     @extend %likeanimated;
//   }
// }