

button {
  display: flex;
  text-align: center;
  background: $button-gradient ;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  box-shadow: 0 5px 15px 0 #7e7878;
  font-weight: bold;
  margin: 20px 0 55px 0;
  padding: 18px 30px;
  transition: 0.3s;
  &:hover {
    @include button-hover;
  }
}
