.fa-heart {
  display: flex;
  width: 35px;
  height: 35px;
  position: absolute;

  &.icon--empty {
    font-size: 25px;
    position: absolute;
    margin: 20px 0 0 35px;

    opacity: 1;
  }

  &.icon--full {
    font-size: 25px;
    position: absolute;
    border: 1px solid black;
    background-image: $button-gradient;

  }
}