html {
  font-family: Roboto, sans-serif;
}

body {
  background-color: #fff;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0 auto;
  text-align: left;
  // overflow-x: hidden;
  max-width: 1440px;
}

h1 {
  // font-size: 1.5em;
  line-height: 1;
  // font-weight: bold;
  font-size: 25px;
  font-weight: bold;
}
span {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
}
