.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 100%;
  gap: 16px;
  padding: 30px 10px;
}

