aside.fonctionnement {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.fonctionnement ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px 0;
  counter-reset: step-counter;

  li {
    display: flex;
    // flex-direction: row;
    // align-items: center;
    background-color: $color-grey;
    // height: 80px;
    min-width: 50%;
    font-size: large;
    margin: 15px 15px;
    border-radius: 25px;
    padding: 30px 10px 20px 10px;
    box-shadow: 0 5px 15px 0 #c3c3c3;

  }
  li::before {
    display: flex;
    position: absolute;
    background-color: $color-grey;
    font-size: large;
    border-radius: 50%;
    width: 30px;
    box-shadow: 0 5px 15px 0 #c3c3c3;
    counter-increment: step-counter;
    content: counter(step-counter);
  }

}
 i {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 30px 0px 20px;
    font-size: larger;
    color: grey;
  }


  // .fonctionnement ol {
  //   display: flex;
  //   flex-direction: column;
  //   margin: 0 0 50px 0;
  //   counter-reset: step-counter;
  
  
  //   li::before {
  //     position: absolute;
  //     background-color: $color-grey;
  //     font-size: large;
  //     border-radius: 50%;
  //     width: 20px;
  //     box-shadow: 0 5px 15px 0 #c3c3c3;
  //     counter-increment: step-counter;
  //     content: counter(step-counter);
  //   }