footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $color-back-footer;
  color: $color-police-footer;
  padding: 10px 0 20px 30px;

  span {
    font-family: Shrikhand;
    font-size: 2rem bolder;
    padding: 15px 0;
  }
  a {
    color: $color-police-footer;
    font-size: 0.9rem;
  }
  li {
    padding: 3px 0;
    font-size: 0.7rem;
  }
  i {
    padding: 0 10px 0 0;
    color: $color-police-footer;
  }
}
