

.fonctionnement__containers {
  @include flexbox-center;
  max-width: 100%;
  padding: 25px 0;
  background: white;
  flex-direction: column;
}

.fonctionnement {
  width: 95%;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  counter-reset: step-counter;

  &__title {
    margin: 0;
  }


  &__steps {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $color-grey;
    height: 80px;
    min-width: 85%;
    font-size: medium;
    margin: 15px 15px;
    border-radius: 25px;
    padding: 24px 10px 20px 10px;
    box-shadow: 0 5px 15px 0 #c3c3c3;
    position: relative;

    &:hover {
      @include button-hover;
      background: lighten(#f7f7f7, 3%);
    }
  }

  i {
    font-size: larger;
    color: grey;
  }

  li::before {
    counter-increment: step-counter;
    content: counter(step-counter);
    position: absolute;
    left: calc(-25px/2);
    text-align: center;
    font-size: 1rem;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 30px;
    color: white;
    box-shadow: 0 5px 15px 0 #c3c3c3;
    background-color: $color-primary;
  }
}
ol {
  display: flex;
  flex-direction: column;
}

//   li {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-around;
//     background-color: $color-grey;
//     height: 80px;
//     min-width: 85%;
//     font-size: medium;
//     margin: 15px 15px;
//     border-radius: 25px;
//     padding: 24px 10px 20px 10px;
//     box-shadow: 0 5px 15px 0 #c3c3c3;
//   }

//   & li::before {
//     // display: flex;
//     // position: sticky;
//     background-color: $color-grey;
//     font-size: large;
//     border-radius: 50%;
//     width: 30px;
//     box-shadow: 0 5px 15px 0 #c3c3c3;
//     counter-increment: step-counter;
//     content: counter(step-counter);
//     margin-left: -25px;
//     margin-right: 8px;
//   }
// }
// i {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   // margin: 0px 30px;
//   font-size: larger;
//   color: grey;
// }

// .fonctionnement ol {
//   display: flex;
//   flex-direction: column;
//   margin: 0 0 50px 0;
//   counter-reset: step-counter;

//   li::before {
//     position: absolute;
//     background-color: $color-grey;
//     font-size: large;
//     border-radius: 50%;
//     width: 20px;
//     box-shadow: 0 5px 15px 0 #c3c3c3;
//     counter-increment: step-counter;
//     content: counter(step-counter);
//   }
