.mealContainer {
  background: white;
  width: 100%;
  @include flexbox-center;
}

.meal {
  margin-top: -30px;
  padding: 0 20px;
  width: 100%;
  max-width: 1440px;
  border-radius: 25px 25px 0 0;
  background-color: $color-grey;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;

    &--title {
      font-family: 'Shrikhand', cursive;
    }
  }

  &__underblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;

    &--hearts {
      position: relative;
      margin-right: 10px;
      margin-top: 4px;
      cursor: pointer;

      @include heart-anime;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 40px;






    &--bloc {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &--title {
      margin: 0 0 15px 0;

      & h3 {
        position: relative;
        padding-top: 40px;
        font-weight: 300;
        text-transform: uppercase;

        &::after {
          content: '';
          width: 50px;
          height: 4px;
          background: $surlignGreen;
          position: absolute;
          z-index: 1;
          left: 0px;
          bottom: -8px;
        }
      }
    }

    &__shutter {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 70px;
      border-radius: 15px;
      background-color: white;
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
      animation: opacity 1000ms;

      
      @keyframes opacity {
        from {
          opacity: 0;
        }
        
        to {
          opacity: 1;
        }
      }
  
      &:nth-of-type(3) {
        
        animation-delay: 1s;
      }
      
      &:nth-of-type(2) {
        
        animation-delay: 2s;
      }
      
      &:nth-of-type(1) {
        
        animation-delay: 3s;
      }
      @include validCheck-anime;
  
    }
  }


  &__shutter {

 
    &--dish {
      margin-left: 20px;
      white-space: nowrap;
      overflow: hidden;

      & p {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &__dish {
      &--title {
        font-weight: normal;
      }

      &--subtitle {
        font-weight: lighter;
      }

      &--price {
        padding-right: 20px;
        font-weight: bold;
        padding-left: 7px;
        padding-top: 20px;
      }
    }
  }

  .dish-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.slide-top {
  -webkit-animation: slide-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}