.restaurants {
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
  @include flexbox-center;
  flex-direction: column;
  align-items: flex-start;
  background-color: $color-grey;
}

.restaurants {
  background-color: $color-grey;
  padding: 0 0 30px 0;

  &__card {
    display: flex;
    flex-direction: column;
    height: 251px;
    width: 85%;
    background-color: white;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px $color-grey;
    position: relative;

    &--new {
      color: $color-new;
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      width: 80px;
      height: 30px;
      background-color: $color-tertiary;
      text-align: center;
      line-height: 30px;
      font-size: 0.9em;
    }

    img {
      height: 174px;
      width: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
  }

  &__underblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    span {
      margin: 0 0 5px 3px;
    }
    &--info {
      padding: 15px 0 0 10px;
    }
    &--name {
      font-weight: bolder;
    }
    &--location {
      font-weight: 300;
    }
    &--heart {
      @include flexbox-center;
      width: 70px;
      height: 70px;
      padding-right: 10px;
    }
  }

  // h2 {
  //   margin: 10px;
  // }
}

// .line1{
//   display: flex;
//   flex-direction: row;

// }

// .line2{
//   display: flex;
//   flex-direction: row;

// }
