.restaurants__containers {
  display: flex;
  max-width: 100%;
  padding: 25px 0;
  background: white;
  flex-direction: column;
}



.fa-lg {
  line-height: 1;
}

.restaurants {
  display: flex;
  flex-direction: column;

  padding: 25px 10px;

  &__title {
    display: flex;
    padding-left: 24px;
    padding-top: 30px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 91%;
    background-color: white;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px $color-grey;
    position: relative;

    &--new {
      color: $color-new;
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      width: 80px;
      height: 30px;
      background-color: $color-tertiary;
      text-align: center;
      line-height: 30px;
      font-size: 0.9em;
    }

    img {
      height: 174px;
      width: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
  }

  &__underblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    span {
      margin: 0 0 5px 0;
    }

    &--info {
      padding: 15px 0 0 10px;
    }

    &--name {
      font-weight: bolder;
    }

    &--location {
      font-weight: 300;
    }

    &--hearts {
      position: relative;
      margin-right: 22px;
      margin-top: 4px;
      cursor: pointer;
      @include heart-anime
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  .restaurants{
    display: flex;
    flex-direction: row;
    gap: 20px;
    // // gap: 30px;
    

    &__card{
      border: 200px;
    }
  }

}