.restaurants__containers {
  display: flex;
  max-width: 100%;
  padding: 25px 0;
  background: white;
  flex-direction: column;
}



.fa-lg {
  line-height: 1;
}

.restaurants {
  display: flex;
  flex-direction: column;

  padding: 25px 10px;

  &__title {
    margin: 20px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 85%;
    background-color: white;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px $color-grey;
    position: relative;

    &--new {
      color: $color-new;
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      width: 80px;
      height: 30px;
      background-color: $color-tertiary;
      text-align: center;
      line-height: 30px;
      font-size: 0.9em;
    }

    img {
      height: 174px;
      width: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
  }

  &__underblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    span {
      margin: 0 0 5px 3px;
    }

    &--info {
      padding: 15px 0 0 10px;
    }

    &--name {
      font-weight: bolder;
    }

    &--location {
      font-weight: 300;
    }

    &--hearts {
      position: relative;
      margin-right: 22px;
      margin-top: 4px;
      cursor: pointer;
      @include heart-anime
    }

    // &--hearts {
    //   position: relative;
    //   margin-right: 22px;
    //   margin-top: 4px;
    //   cursor: pointer;

    //   i {
    //     color: #9d9d9d;
    //     font-size: 24px;
    //   }
    //   // .icon--empty:hover {
    //   //   @extend %likeanimated;
    //   // }
    //   .icon--full {
    //     left: 0;
    //     opacity: 0;
    //     position: absolute;
    //     transform: scale(1);

    //     &:hover {
    //       &:hover {
    //         cursor: pointer;
    //         overflow: hidden;
    //         opacity: 1;
    //         transform: scale(0);

    //         @extend %likeanimated;
    //         background: $button-gradient;
    //         -webkit-text-fill-color: transparent;
    //         background-clip: text;
    //         -webkit-background-clip: text;
    //         opacity: 1;
    //         transform: scale(1);
    //         z-index: 1;
    //         @extend %likeanimated;
    //       }
    //     }
    //   }
    // }
  }

  // h2 {
  //   margin: 10px;
  // }
}

// .line1{
//   display: flex;
//   flex-direction: row;

// }

// .line2{
//   display: flex;
//   flex-direction: row;

// }