.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-grey;
    padding: 0 0 30px 0;
    &_card{
        display: flex;
        flex-direction: column;
        height: 251px;
        width: 85%;
        background-color: white;
        margin: 20px auto;
        border-radius: 20px;
        box-shadow: 0 0 10px 5px $color-grey;
        position: relative;

    }
}